.add-post {
    margin-bottom: 3rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    background: $secondary;
    padding: 1.5rem 2rem;

    @include breakpoint($mobile) {
        padding: 1rem 1.5rem;
    }
}

.add-post__form {
    display: flex;
    align-items:flex-end;
}

.add-post__text {
    flex-grow: 1;
    width: 82%;
    height: 3.4rem;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.5rem;
    color: $white;
    background: transparent;
    border: none;
    resize: none;
    overflow: hidden;

    &::placeholder {
        color: #d2d2d2;
    }

    @include breakpoint($mobile) {
        font-size: 1.4rem;
    }
}

.add-post__btns {
    display: flex;
    justify-content: space-between;
    width: 100px;
    flex-shrink: 0;

    @include breakpoint($mobile) {
        width: 95px;
    }
}

.add-post__file {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: url('../images/add-photo.svg') no-repeat center center, #ebebeb;
    cursor: pointer;
    
    &:hover {
        background-color: darken(#ebebeb, 10%);
    }
}

.add-post__submit {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: url('../images/send-post.svg') no-repeat center center, $blue;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken($blue, 10%);
    }
}