.header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width});
    display: flex;
    background: #0d0d0d;
    box-shadow: 0 5px 22px rgba($black, .25);
    z-index: 1;
}

.header__list {
    display: flex;
    width: 60%;
}

.header__list-item {
    position: relative;

    &:hover .header__list-link {
        background: $blue;
    }

    &:hover > .header__sublist {
        display: block;
    }
}

.header__list-link,
.header__right-link {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding: 1.45rem;
    transition: all .1s;

    &_sublist {
        position: relative;
        padding-right: 3.5rem;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 1.4rem;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            transform: translateY(-50%)
        }
    }
}

.header__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 16.5rem;
    padding: .5rem 0;
    background: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($black, .2);
}

.header__sublist-link {
    display: block;
    color: $white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .45rem 1.2rem;
    transition: background .1s;

    &:hover {
        background: darken($blue, 8%);
    }
}

.header__right {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.header__right-link {
    &:hover {
        background: $blue;
    }
}

.header__search {
    background: $primary;
    max-width: 21rem;
    width: 100%;
}

.header__input {
    display: block;
    width: 100%;
    padding: 1.2rem 2rem;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: $white;

    &::placeholder {
        color: rgba($white, .4);
    }

    &:hover {
        background: $blue;
    }
}