.header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width});
    display: flex;
    background: #0d0d0d;
    box-shadow: 0 5px 22px rgba($black, .25);
    z-index: 2;

    @include breakpoint($tablet) {
        width: 100%;
    }
}

.header__list {
    display: flex;
    width: 60%;

    @include breakpoint($tablet) {
        display: none;
    }
}

.header__list-item {
    position: relative;

    &:hover .header__list-link {
        background: $blue;
    }

    &:hover > .header__sublist {
        display: block;
    }
}

.header__list-link,
.header__right-link {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    padding: 1.45rem;
    transition: all .1s;

    &_sublist {
        position: relative;
        padding-right: 3.5rem;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 1.4rem;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            transform: translateY(-50%)
        }
    }
}

.header__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 16.5rem;
    padding: .5rem 0;
    background: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($black, .2);
}

.header__sublist-link {
    display: block;
    color: $white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .45rem 1.2rem;
    transition: background .1s;

    &:hover {
        background: darken($blue, 8%);
    }
}

.header__burger {
    display: none;
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    background: none;
    border: 0;
    padding: 0;

    &:before,
    &:after,
    span {
        display: block;
        width: 100%;
        height: 2px;
        background: $white;
        font-size: 0;
        color: transparent;
        position: absolute;
        left: 0;
    }

    &:before {
        top: 0;
        content: '';
    }

    &:after {
        bottom: 0;
        content: '';
    }

    span {
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .1s;
    }

    .show-sidebar & {
        span {
            opacity: 0;
        }

        &:before,
        &:after {
            top: 50%;
            transition: transform .2s;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    @include breakpoint($tablet) {
        display: block;
    }
}

.header__right {
    display: flex;
    width: 40%;
    justify-content: flex-end;

    @include breakpoint($tablet) {
        width: 100%;
    }
}

.header__right-link {
    &:hover {
        background: $blue;
    }

    @include breakpoint($tablet) {
        display: none;
    }
}

.header__search {
    background: $primary;
    max-width: 21rem;
    width: 100%;
}

.header__input {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 1.2rem 2rem;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: $white;

    &::placeholder {
        color: rgba($white, .4);
    }

    &:hover {
        background: $blue;
    }

    @include breakpoint($mobile) {
        font-size: 1.6rem;
    }
}