.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100vh;
    background: url('../images/sidebar-bg.svg') no-repeat center top, $primary;
    box-shadow: 5px 0 15px rgba(#050505, 0.1);
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    position: relative;
    margin-bottom: 6rem;

    &:after {
        display: block;
        position: absolute;
        bottom: -3rem;
        content: '';
        width: 87%;
        height: 1px;
        background: #1c1c1c;
    }
}

.sidebar__content-img {
    display: block;
    width: 10rem;
    height: 10rem;
    border: 2px solid $white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 7px 20px rgba($black, 0.25);
    margin-bottom: 2rem;
}

.sidebar__content-name {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: .5rem;
}

.sidebar__content-prof {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1.7rem;
}

.sidebar__social {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.sidebar__social-item {
    display: block;
    width: 25px;
    height: 25px;

    &:first-child {
        background: url('../images/inst-icon.svg') no-repeat center center;
    }

    &:nth-child(2) {
        background: url('../images/vk-icon.svg') no-repeat center center;
    }

    &:last-child {
        background: url('../images/pint-icon.svg') no-repeat center center;
    }
}

.sidebar__social-link {
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar__text {
    display: block;
    max-width: 87%;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0 auto 6rem;
    position: relative;

    &:after {
        display: block;
        position: absolute;
        bottom: -3rem;
        content: '';
        width: 100%;
        height: 1px;
        background: #1c1c1c;
    }
}

.sidebar__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.sidebar__works-btn,
.sidebar__write-btn {
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.2rem;
    color: $white;
    padding: 1.15em 2.1em;
    border-radius: 3em;
    cursor: pointer;
    background: $secondary;
    border: 0;
    text-decoration: none;
    transition: background .1s;
}

.sidebar__works-btn {
    background: $red;
    box-shadow: 0 7px 17px -10px rgba($red, .2);

    &:hover,
    &:focus {
        background: darken($red, 10%);
    }
}

.sidebar__write-btn {
    background: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, .2);

    &:hover,
    &:focus {
        background: darken($blue, 10%);
    }
}