.work {
    margin-bottom: 3rem;
    box-shadow: 0px 15px 25px rgba($black, 0.35);
    border-radius: 5px;
    background: $primary;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.work__preview {
    display: block;
    max-width: 31rem;
    height: auto;
}

.work__content {
    max-width: 29rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.work__title {
    font-family: inherit;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;

    a {
        color: $white;
        text-decoration: none;
        transition: all .1s;

        &:hover {
            text-decoration: underline;
        }
    }
}

.work__description {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-bottom: 3rem;
    color: #d2d2d2;
}

.work__tag-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
}

.work__tag-item {
    display: block;
    border-radius: 3px;
    background: #EA8C1E;
    color: $white;
    padding: 0.4rem 0.9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.work__btn {
    display: inline-block;
    max-width: 12.5rem;
    vertical-align: top;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $white;
    padding: 0.8em 1.3em;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: background .1s;
    background: $blue;
    box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
    border-radius: 5px;
    margin-top: auto;
    margin-left: auto;

    &:hover {
        background: darken($blue, 10%);
    }
}