<div class="modal" id="contact-modal">
    <form class="modal__content"  method="POST" action="/">
        <input type="text" class="modal__name" placeholder="Ваше имя">
        <input type="email" class="modal__email" placeholder="Ваш Email">
        <textarea class="modal__text" placeholder="Текст сообщения"></textarea>
        <button type="submit" class="modal__submit">Отправить</button>
        <ul class="modal__info">
            <li>
                e-mail: 
                <a href="mailto:sitnikov.ryslan1992@gmail.com">sitnikov.ryslan1992@gmail.com</a>
            </li>
            <li>
                тел: 
                <a href="tel:">+7-999-777-55-11</a>
            </li>
        </ul>
        <button class="modal__close" type="button" alt="закрыть"></button>
    </form>
</div>