<div class="modal">
    <div class="modal__content modal__content_sh">
        <ul class="modal__social">
            <li class="modal__item">
                <a href="#" class="modal__link"></a>
            </li>
            <li class="modal__item">
                <a href="#" class="modal__link"></a>
            </li>
            <li class="modal__item">
                <a href="#" class="modal__link"></a>
            </li>
            <li class="modal__item">
                <a href="#" class="modal__link"></a>
            </li>
        </ul>
        <button class="modal__close" type="button" alt="закрыть"></button>
    </div>
</div>