<aside class="sidebar">
    <div class="sidebar__content">
        <img src="https://placehold.it/100" alt="avatar" class="sidebar__content-img">
        <h1 class="sidebar__content-name">Ситников Руслан</h1>
        <p class="sidebar__content-prof">блог front-end разработчика</p>
        <ul class="sidebar__social">
            <li class="sidebar__social-item">
                <a href="" class="sidebar__social-link" target="_blank">
                    <span class="visually-hidden">instagram</span>
                </a>
            </li>
            <li class="sidebar__social-item">
                <a href="" class="sidebar__social-link" target="_blank">
                    <span class="visually-hidden">vk</span>
                </a>
            </li>
            <li class="sidebar__social-item">
                <a href="" class="sidebar__social-link" target="_blank">
                    <span class="visually-hidden">pinterest</span>
                </a>
            </li>
        </ul>
    </div>
    <p class="sidebar__text">
        Front-end разработчик. Созданием сайтов занимаюсь с 2020 года. Стажировался в одной из крупнейших ИТ компаний своего города, практикуюсь в создании сайтов различной сложности.
    </p>
    <div class="sidebar__footer">
        <a href="works.html" class="sidebar__works-btn">Мои работы</a>
        <button class="sidebar__write-btn">Написать мне</button>
    </div>
</aside>