$primary: #202020;
$secondary: #121212;
$black: #000;
$white: #fff;
$red: #ed3024;
$blue: #3137c9;
$yellow: #F3EBA2;

$sidebar-width: 300px;

$tablet: 991px;
$mobile: 700px;

@mixin breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}